# ce fichier indique à git les fichiers à ignorer

# ignorer l'environnement virtuel :
env/

# ignorer tous les fichiers .csv :
*.csv

# ignorer tous les fichiers .jpg :
*.jpg

# ignorer pycache et ses fichiers :
_pycache_/

__pycache__/category.cpython-310.pyc
__pycache__/livres.cpython-310.pyc
__pycache__/site_books.cpython-310.pyc
