# ce fichier indique à git les fichiers à ignorer

# ignorer l'environnement virtuel :
env/

# ignorer tous les fichiers .csv :
*.csv

# ignorer tous les fichiers .jpg :
*.jpg
# ignorer pycache
_pycache_/